<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <img class="image-404" src="assets/img/bg-404.svg" alt="" />
        <h1 class="masthead-heading text-uppercase mb-0">404 - Not Found!</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-globe"></i></div>
            <div class="divider-custom-line short"></div>
            <div class="divider-custom-icon"><i class="fas fa-music"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <a class="btn btn-xl btn-outline-light" href="/">
            <i class="fas fa-home mr-2"></i>
            Home Page
        </a>
    </div>
</header>