<section class="page-section mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary">Chi sono</h2>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-music"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <p class="lead text-justify">
                    Esordisco con il flic. Contralto nel maggio del 2000 nella banda di Baucina diretta da <a href="https://salvatoremauro.it" target="_blank">Salvatore Mauro</a>.
                    <br />
                    All'età di 9 anni comincio gli studi di trombone presso il conservatorio V. Bellini (ora A. Scarlatti) di Palermo con il maestro Roberto Bianchi e successivamente con il maestro Giuseppe Bonanno.
                    <br />
                    Nel 2005 comincio a studiare con il maestro Michele De Luca da cui apprendo molte nuove tecniche.
                    <br />
                    <span class="read-more">Di più...</span>
                    <span class="continue-read">
                        Ho partecipato diverse volte a concorsi a premi per giovani musicisti portando a casa diversi premi.
                        Nel giugno del 2009, all'età di 17 anni, concludo gli studi di Trombone presso il conservatorio di Palermo.
                        <br />
                        Ottenuto il diploma comincio a concorrere in diverse audizioni raccogliendo una idoneità all'audizione per trombone di fila per l'orchestra della fondazione “Luglio Musicale Trapanese” (aprile 2010) e tre idoneità alle audizioni per trombone di fila con obbligo del flicorno baritono e del flicorno tenore bandita dalla “Fondazione Teatro Massimo di Palermo” (2011 / 2013 / 2014).
                        <br />
                        Ho suonato in diverse produzioni del Teatro Massimo di Palermo e in diverse orchestre e bande musicali del territorio siciliano.                                                                            
                    </span>
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-globe"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <p class="lead text-justify">
                    La mia prima esperienza sul web risale al 2008 quando cominciai a mettere mani al sito web di mio padre <a href="https://salvatoremauro.it" target="_blank">Salvatore Mauro</a>
                    <br />
                    Da allora ho cominciato ad acquisire conoscenze sul campo.
                    <br />
                    Affascinato dal mondo informatico mi iscrivo nel 2011 al corso di studi in Ingegneria Informatica e delle Telecomunicazioni presso l’Università degli Studi di Palermo.
                    <br />
                    <span class="read-more"> Di più...</span>
                    <span class="continue-read">
                        Nel 2016, conseguita la Laurea Triennale in Ingegneria Informatica e delle Telecomunicazioni decido di proseguire gli studi con la Laurea Magistrale in Ingegneria Informatica.
                        <br />
                        Conseguita anche la Laurea Magistrale comincio a lavorare come sviluppatore di siti web basati sul CMS Adobe Experience Manager (AEM) presso "Aktive Reply" di Roma.
                        <br />
                        Nell'agosto 2020 ho conseguito la certificazione <a href="https://www.youracclaim.com/badges/630749cb-69f0-40d5-be7e-4e18c897eeb5" target="_blank">AEM Developer</a> e a novembre 2020 la certificazione Professional Scrum Master I (<a href="https://www.scrum.org/badges/awards/598222" target="_blank"></a>PSM I</a>).
                        <br />
                        Sviluppo siti web sia statici che dinamici utilizzando tecnologie come AEM, Jekyll, React, Wordpress e Joomla.
                        <br />
                        Per ulteriori informazioni date un'occhiata al portfolio e seguitemi su <a href="https://www.linkedin.com/in/antoninomauro/" target="_blank">Linkedin</a>!
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>