<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5 img-circle" src="assets/img/nino.jpg" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading mb-0"><span class="blue-text">A</span>nto<span class="blue-text">n</span>ino <span class="blue-text">M</span>auro</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-globe"></i></div>
            <div class="divider-custom-line short"></div>
            <div class="divider-custom-icon"><i class="fas fa-music"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Web Developer & Trombonist</p>
    </div>
</header>