<section class="page-section bg-primary text-white portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-white mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-globe"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            {% for item in site.data.portfolio.portfolio %}
            <div class="col-md-6 col-lg-6 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#{{item.id}}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i>
                            <p>{{item.title}}</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{site.url}}{{item.thumb}}" alt="" />
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>